.owl-carousel .owl-nav button.owl-next:focus, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot:focus {
    outline: none;
}
.testimonial .owl-dots{
    text-align: center;
}
.testimonial button.owl-dot.active span {
    background: #f8492a;
}
.testimonial button.owl-dot span {
    display: block;
    background: #000;
    width: 30px;
    height: 5px;
} 
.webtestimonial  li.col-md-12.list-item {
    list-style: none;
}
.testimonials {
    display: flex;
    flex-wrap: wrap;
}
.webtestimonial p.quote-icon {
    margin: 0;
    text-align: center;
}
.webtestimonial .webtestimonial_star_wrapper i {
    color: #FF9C00;
}
.webtestimonial button.owl-next i,
.webtestimonial button.owl-prev i{
    line-height: 36px !important;
}
/*slider-template-1*/

.slider-template-1 img.tm-people {
    width: 70px !important;
    height: 70px;
    border-radius: 50%;
    display: inline-block !important;
}

.slider-template-1 .tour-desc.webtestimonial-list {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 6px 1px #b5b5b5;
    margin: 15px 0;    
    border: 15px solid #525050;
    border-bottom: 0;
    border-top: 0;
}
.slider-template-1 .link-name.title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 18px;
} 
.slider-template-1 .link-position.position {
    font-size: 15px;
    color: #6c6c6c;
}








/*template-2*/

.template-2 .card{
    position: relative;
    margin: 0 auto;
    background:#333;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0 10px 40px rgba(0,0,0,.5);
    overflow: hidden;
    float: left;
    margin: 0 1% 20px;
}
.template-2 .card .layer{
    position: absolute;
    top:calc(100% - 2px);
    left:0;
    width:100%;
    height: 100%;
    background: linear-gradient(#03a9f4, #e91ee3);
    z-index: 1;
    transition: 0.5s;
}
.template-2 .card:hover .layer{
   top: 0;
}
.template-2 .card .content{
   position: relative;
   z-index: 2;
}
.template-2 .card .content p{
   font-size: 18px;
   line-height: 24px;
   color:#fff;
   padding: 20px 0;
}
.template-2 .card .content .image{
   width: 100px;
   height: 100px;
   margin: 0 auto;
   border-radius: 50%;
   overflow: hidden;
   border: 4px solid #fff;
   box-shadow: 0 10px 20px rgba(0,0,0,.2);
}
.template-2 .details {
    padding-top: 10px;
}
.template-2 .card .content .details h3 span{
    color: #03a9f4;
    font-size: 14px;
    transition: 0.5s;
}
.template-2 .card:hover .content .details h3 span{
    color: #fff;
}
.template-2 .card .content i {
    color: #fff;
    font-size: 45px;
}


/*template-3*/

.template-3 .item{
    float: left;
    margin: 0 1% 20px;
    border-radius: 1rem;
    box-shadow: 0px -10px 0px rgb(151 248 6);
    background: #fff;
}
@media(max-width:767px) {
     .template-3 .card-item {
        margin: 1rem 0.7rem 1rem;
        max-width: 80vw
    }
}
 .template-3 .card-item-image {
    text-align: center;
    padding: 5%;
}

 .template-3 .card-item-image img {
    border-radius: 50%;
    width: 50%;
}

 .template-3 .card-item-title {
    font-size: 26px;
    margin-bottom: 0;
    font-weight: bold;
}

 .template-3 .card-item-text {
    text-align: center;
    padding: 1rem 2rem;
}
 .template-3 .card-item-text p {
    font-size: 15px;
}

.template-3 .footer {
    text-align: center;
    padding: 10px 0 1.4rem 0;
}

 .template-3 #name {
    font-size: 20px;
    font-weight: bold;
}



/*.template-4*/
.template-4 {
    padding: 40px 0;
}
.template-4 ul{
    margin: 0;
}
.template-4 button.owl-next {
    right: 0;
}
.template-4 button.owl-next,
.template-4 button.owl-prev{
    position: absolute;
    top: 45%;
}
.template-4 .owl-dots {
    position: absolute;
    bottom: 0;
}
.template-4 button.owl-next i,
.template-4 button.owl-prev i{
    line-height: 2 !important;
}
.template-4 button.owl-prev {
    left: 0;
}
.template-4 .tour-desc{
    background: #fff;
}
.template-4 h3 {
    color: var(--orange);
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase
}

.template-4 .list-item{
    list-style: none;
}
.template-4  h2 {
    color: white;
    font-size: 28px;
    font-weight: 700
} 
.template-4 .testimonial-pos {
    position: relative;
    top: 24px
}

.template-4 .testimonial-inner .tour-desc {
    border-radius: 5px;
    padding: 30px;
}

.template-4 .color-grey-3 {
    font-family: "Montserrat", Sans-serif;
    font-size: 16px;
    color: #6c83a2
}

.template-4 .testimonial-inner img.tm-people {
    width: 60px;
    height: 60px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
    max-width: none;
    display: inline-block;
}

.template-4 .link-name {
    font-family: "Montserrat", Sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
}

.template-4 .link-position {
    font-family: "Montserrat", Sans-serif;
    font-size: 12px;
    color: #6c83a2
}


/*.template-5*/


.template-5.testimonial .item{
  margin: 0 1% 20px;
  float: left;
  background: #6ddfc0;
  border-radius: 25px;
  box-shadow: 0 0 5px rgba(0,0,0,0.125);
}

.template-5.testimonial .item .img{
  padding: 20px;
}

.template-5.testimonial .item .img img{
  width: 100px;
  display: block;
  margin: 0 auto;
}

.template-5.testimonial .item .name{
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 0 10px;
}

.template-5.testimonial .item .content{
  background: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 20px;
  text-align: center;
}

.template-5.testimonial .item .content .quote-icon{
    margin-bottom: 10px;
    color: #6ddfc0;
    font-size: 30px;
}

.template-5.testimonial .item .content p{
  line-height: 20px;
  margin-bottom: 15px;
  color: #28303d;
}

.template-5.testimonial .item .content .stars img{
  width: 25px;
}
.template-5.testimonial .position {
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 20px;
    font-family: monospace;
    padding: 0 10px;
}
.template-5.webtestimonial_star_wrapper i {
    color: #efce4a;
    font-size: 20px;
}
.template-5.testimonial .item.webtestimonial-list img {
    border-radius: 50%;
    width: 100px;
}



.template-5 button.owl-prev,
.template-5 button.owl-next {
    position: absolute;
    top: 50%;
}

.template-5 button.owl-prev{
    left: -30px;
}

.template-5 button.owl-next {
    right: -30px;
}